.example-button-row .mat-button-base {
    background-color: #349bed;
    border: 1px solid #349bed;
    border-radius: 3px;
    color: #fff;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 600;
    height: 40px;
    letter-spacing: .3px;
    line-height: normal;
    text-align: center;
    width: 117px;
}
.splash-welcome-small{
  font-family: Source Sans Pro;
  font-size: 40px;
  margin-top: 5px;
  color: #fff;
  text-align: center;
  font-style: normal;
  line-height: normal;
  letter-spacing: .3px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 300;
  padding-top:1%;
  text-shadow: 0 2px 8px rgb(6 46 121 / 50%);
}
.splash-welcome-message-small{
  font-size: 20px;
  margin-top: 10px;
  color: #fff;
  font-family: Source Sans Pro;
  font-stretch: normal;
  font-style: normal;
  font-weight: 400;
  letter-spacing: .1px;
  line-height: normal;
  padding-bottom: 30px;
  text-align: center;
  text-shadow: 0 2px 8px rgb(6 46 121 / 50%);
}
.mat-form-field {
    font-size: 14px;
    margin-right: 20px;
    vertical-align: middle;
} 
  
.mat-row.selected {
    background: #dddddd;
}


.splash-highlightstable{
    border: 0;
    border-collapse: separate;
    border-spacing: 45px;
    padding-bottom: 0;
    padding-top: 0px;
    text-align: left;
}
.back{
  background: url('/assets/icons/background-image.svg');
  background-size: 100%;
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
}
.content{
  min-width: 100%; 
  width: 100%;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.splash-highlight-item-title{
  color: #062e79;
  font-family: Source Sans Pro;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
  letter-spacing: .1px;
  line-height: 1.25;
  margin-top: 5px;
  margin-bottom: 5px;
}
.splash-highlight-item-content{
  color: #062e79;
  font-family: Source Sans Pro;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 400;
  letter-spacing: .1px;
  line-height: 1.25;
  padding-top: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.icon-documentation {
  background-image: url('/assets/icons/documentation.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  margin-right:20px;
  height: 50px;
  width:50px;
  vertical-align: center;
}
.icon-community {
  background-image: url('/assets/icons/community.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  margin-right:20px;
  height: 50px;
  width:50px;
  vertical-align: center;
}
.icon-track {
  background-image: url('/assets/icons/track.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  margin-right:20px;
  height: 50px;
  width:50px;
  vertical-align: center;
}